# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# ML models
*.h5
*.pt
*.pth
*.ckpt

# Data
data/
datasets/
nohup.out